:root {
    --color1: #162447;
    --color2: #1f4068;
    --color3: #1b1b2f;
    --color4: #e43f5a;
    --ice-cold: #a0d2eb;
    --color5: #e5eaf5;
    --medium-purple: #d0bdf4;
    --purple-pain: #8458B3;
    --heavy-purple: #a28089;
    --edge: #a28089;
    --text-color: #E65800;
    --header-font: 'Asap Condensed', sans-serif;
    --text-font: 'Noto Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    padding: 0 10px;    
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--purple-pain);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--heavy-purple);
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--color5);
    font-family: var(--header-font);
    font-size: 2.1em;
}

h2 {
    color: var(--color5);
    font-family: var(--header-font);
    font-size: 2em;
}

p {
    margin: 3px 5px 3px 10px;
    font-size: 1em;
    color: var(--color5);
    font-family: var(--text-font);
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: var(--color5);
    border-radius: 25px;
    font-size: 1em;
    color: var(--text-color);
}

input:focus {
    outline: none;
}

#name-input {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
}

#submit-button {
    width: 100%;
    font-size: 1em;
    border-radius: 25px;
    padding: 10px 20px;
    font-family: var(--header-font);
    color: var(--color1);
}

#container {
    width: 80vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    border-radius: 15px;
}

#container-center {
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-top, #container-bottom {
    width: 100%;
}

#container-top {
    height: 10%;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    align-items: center;
}

#container-bottom {
    height: 7%;
}

#rooms, #chat {
    box-sizing: border-box;
    padding: 1vw;
    height: 100%;
}

#rooms {
    width: 30%; 
    min-width: 30%;
    max-width: 30%;
    background-color: var(--color1);
}

#rooms>h2 {
    margin: 0 0 10px 0;
}

.room_button {
    border: 2px solid var(--heavy-purple);
    background-color: var(--color5);
    color: var(--heavy-purple);
    border-radius: 25px;
    margin: 2px;
    width: 100%;
    height: 4vh;
    font-family: var(--text-font);
    font-size: 1em;
}

.room_button:hover, .room_button:active {
    background-color: var(--heavy-purple);
    color: var(--ice-cold);
}

#room_name {
    box-sizing: border-box;
    background-color: var(--purple-pain);
    color: var(--color5);
    padding: 5px 10px;
    margin: 0;
    height: 10%;

}

#chat {
    right: 0;
    width: 70%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
}

#formatter {
    max-height: auto;
    height: 90%;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
}

#text { 
    box-sizing: border-box;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: calc(90% - 10px);
    overflow-y: scroll;
    overflow-wrap: break-word;
    white-space: initial;
}

#message-box {
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 0 0 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

/**
To be implemented possibly
#submit {
    width: 37px;
    height: auto;
    float: right;
}   

#message {
    width: 95%;
    height: 100%;
    font-size: 1.3em;
    color: var(--text-color);
}
**/