:root {
    --color1: #162447;
    --color2: #1f4068;
    --color3: #1b1b2f;
    --color4: #e43f5a;
    --color5: #e5eaf5;
    --color6: #17355a;
    --text-color: #E65800;
    --header-font: 'Asap Condensed', sans-serif;
    --text-font: 'Noto Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;    
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--color5);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color4);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
}

h1 {
    color: var(--color5);
    font-family: var(--header-font);
    font-size: 2.1em;
}

h2 {
    color: var(--color5);
    font-family: var(--header-font);
    font-size: 2em;
}

small {
    display: inline-block;
    font-size: 1em;
    font-family: var(--text-font);
    opacity: 1;
    transition: all 0.5s;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: var(--color5);
    border-radius: 25px;
    font-size: 1em;
    color: var(--text-color);
}

input:focus {
    outline: none;
}

#identifier {
    opacity: 1;
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color3);
    z-index: 9000;
}

#identifier>h2 {
    margin: 0;
}

#name-input, #submit-button, #name-message {
    width: 40%
}

#name-message {
    height: 25px;
    font-family: var(--header-font);
    color: var(--color4);
    margin: 10px;
    text-align: center;
}

#name-input {
    margin: 0 0 10px 0;
    text-align: center;
}

#submit-button {
    font-size: 1em;
    border-radius: 25px;
    padding: 10px 20px;
    font-family: var(--header-font);
    background-color: var(--color4);
    border: none;
    color: var(--color5)
}

#online-formatter {
    height: 100%;
}

#online-counter {
    font-family: var(--header-font);
    font-weight: bold;
    color: var(--color5);
}

#submit-button:active, #submit-button:hover, #submit-button:focus {
    outline: none;
}

#container {
    width: 80vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    border-radius: 15px;
}

#container-top, #container-bottom, #container-center {
    width: 100%;
}

#container-center {
    height: 83%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-top {
    height: 10%;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-bottom {
    height: 7%;
}

#rooms, #chat {
    box-sizing: border-box;
    height: 100%;
}

#rooms {
    padding: 5px 10px;
    width: 20%; 
    min-width: 20%;
    max-width: 20%;
    background-color: var(--color2);
}

#rooms>h2 {
    margin: 0 0 10px 0;
}

#rooms_list {
    position: relative;
    height: 90%;
}

.room_button {
    border: 2px solid var(--heavy-purple);
    background-color: var(--color5);
    color: var(--heavy-purple);
    border-radius: 25px;
    margin: 2px 0;
    width: 100%;
    height: 4vh;
    font-family: var(--text-font);
    font-size: 1em;
}

.room_button:hover, .room_button:active, .room_button:focus {
    background-color: var(--heavy-purple);
    color: var(--ice-cold);
    outline: none;
}

#room_name_background {
    background-color: var(--color6);
}

#room_name {
    box-sizing: border-box;
    color: var(--color5);
    padding: 5px 10px;
    margin: 0;
    height: 10%;
    opacity: 1;
    transition: all 0.5s;
}

.hide, #room_name.hide {
    opacity: 0;
}

#room_loading {
    width: 100%;
    height: 100%;
    background-color: var(--color2);
}
#chat_loading {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
}

#chat, #chat_loading {
    background-color: var(--color1);
}

#chat {
    right: 0;
    width: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.loading, #formatter, #text {
    box-sizing: border-box;
}

#formatter {
    position: relative;
    max-height: auto;
    height: 90%;
    padding: 0 10px 10px 10px;
}

.loading {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8000;
}

.loading.show {
    opacity: 1;
}

/* loader */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color5);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
    animation-play-state: paused;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
    animation-play-state: paused;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
    animation-play-state: paused;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
    animation-play-state: paused;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}

.resume {
    animation-play-state: running;
}

#text { 
    height: calc(90% - 10px);
    overflow-y: scroll;
    overflow-wrap: break-word;
    white-space: initial;
}

.text-name {
    color: var(--color4);
    font-weight: bold;
    margin-right: 10px;
}

.text-message {
    margin: 0 5px 10px 0;
    color: var(--color5);
    word-break: break-all;
}

#message-box {
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 0 0 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}